@font-face {
  font-family: "Neue Haas Unica W1G";
  src: url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.eot");
  src: url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/31267e36af6f8dac65a56e78345e945e.svg#NeueHaasUnicaW1G-Regular")
      format("svg");
}


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;1,200&family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto&family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');