.test-page {
  .box-wrapper {
    background-color: rgb(186, 186, 186);
    border-bottom: solid 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //   gap: 10px;
    .box {
      width: 100px;
      height: 100px;
      background-color: aquamarine;
      border: solid 3px blueviolet;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: -20px;
      // margin-bottom: 10px;

      // &.last {
      //     margin-bottom: 0px;
      // }

      &:last-child {
        // margin: 0 0 0 auto;
        //   margin-inline-start: auto;
      }

      &:nth-child(2) {
        background-color: lime;
      }
      // margin: 20px 40px 30px;
    }
  }

  .margin-collapse {
    background-color: beige;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    h1 {
      margin: 0;
      margin-bottom: 30px;
    }

    p {
      //   margin-top: 3rem;
      margin: 0;
      margin-top: 30px;
    }
  }

  .flex-grow-demo {
    // max-width: 1440px;
    margin: 0 auto;
    .parent {
      display: flex;
      background-color: red;

      .child {
        display: flex;
        flex-grow: 1;
        background-color: green;
        width: 100%;
        max-width: 50vw;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

